.dropzone {
  position: fixed;
  bottom:0;
  width: 100%;
  padding: 14px;
  border: 2px dashed grey;
  border-radius: 5px;
  font-size: 60px;
  height: 100px;
  color: grey;
  text-align: center; 
}

.dropzone:after {
  content: 'remove song';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}