
<div ng-controller="copyableCtrl">
  <div class="col-sm-6">
    <ng-include src="'partials/allSetLists.html'"></ng-include>
    <ng-include src="'partials/allSongs.html'"></ng-include>
  </div>
</div>

<div ng-controller="sortableCtrl">
  <div class="col-sm-6">
  	<ng-include src="'partials/selectedSetList.html'"></ng-include>
  </div>

  <div ng-show="dragging" class="dropzone" ui-sortable="dropzone" ng-model="dropzoneFields">
      <div ng-repeat="item in dropzoneFields track by $index"></div>
  </div>
</div>