<div ng-repeat="song in playlists | orderBy:'order'">{{song.title}} {{song.order}}</div>





<!-- 
<style>
.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.item {
	width: 200px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}


/***  Extra ***/

body {
	font-family: Verdana, 'Trebuchet ms', Tahoma;
}

.logList {
	margin-top: 20px;
	width: 250px;
	min-height: 200px;
	padding: 5px 15px;
	border: 5px solid #000;
	border-radius: 15px;
}

.logList:before {
	content: 'log';
	padding: 0 5px;
	position: relative;
	top: -1.1em;
	background-color: #FFF;
}

.container {
	width: 600px;
	margin: auto;
}

h2 {
	text-align: center;
}

.floatleft {
  float: left;
}

.clear {
  clear: both;
}

</style>
 -->
<ul ui-sortable="sortableOptions" ng-model="playlists.list1" class="list">
		      <li ng-repeat="song in playlists.list1 | orderBy:'order'" class="item" id="blocks">
		      	<div style="height: 60px;">
					<div class="col-sm-9">
						<div>
						{{song}}
						</div>
					</div>
		      	</div>

		      </li>
		    </ul>



<ul ui-sortable="sortableOptions" ng-model="playlists.list2" class="list">
		      <li ng-repeat="song in playlists.list2 | orderBy:'order'" class="item" id="blocks">
		      	<div style="height: 60px;">
					<div class="col-sm-9">
						<div>
						{{song}}
						</div>
					</div>
		      	</div>

		      </li>
		    </ul>


 
		    <!--  <script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script> -->












